*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-betweens;
      -ms-flex-pack: space-betweens;
          justify-content: space-betweens;
  padding: 1em;
}

.logo {
  max-width: 100px;
}

.nav {
  position: fixed;
  background: #303030;
  opacity: 0.98;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: 900;
  font-size: 2.25rem;
  text-decoration: none;
}

.nav__link:hover {
  color: #16e0bd;
}

.nav-toggle {
  padding: .5em;
  position: relative;
  border: 0;
  background: transparent;
  cursor: pointer;
  top: 1em;
  left: 90%;
  height: 2em;
  z-index: 1001;
}

.nav-open .nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburguer {
  -webkit-transform: rotate(0.625turn);
          transform: rotate(0.625turn);
}

.nav-open .hamburguer::before {
  -webkit-transform: rotate(90deg) translate(-6px);
          transform: rotate(90deg) translate(-6px);
}

.nav-open .hamburguer::after {
  opacity: 0;
}

.hamburguer {
  display: block;
  position: relative;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after {
  background: #16e0bd;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.hamburguer::before,
.hamburguer::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburguer::before {
  top: 6px;
}

.hamburguer::after {
  bottom: 6px;
}

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .nav-toggle {
    visibility: hidden;
  }
  .nav {
    background: transparent;
    height: 5%;
    text-align: right;
    z-index: 100;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    background: rgba(48, 48, 48, 0.75);
  }
  .nav__link {
    color: inherit;
    font-weight: 900;
    font-size: 1.25rem;
  }
  .intro {
    display: -ms-grid;
    display: grid;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
    -ms-grid-columns: min-content max-content;
        grid-template-columns: -webkit-min-content -webkit-max-content;
        grid-template-columns: min-content max-content;
  }
  .services {
    margin-bottom: 4em;
  }
  .intro__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }
  .section__subtitle--intro {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    grid-column: -1 / 1;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
  .about-me {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 200px;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img" "subtitle img" "text img";
    grid-column-gap: 2em;
  }
  .section__title--about,
  .section__subtitle--about {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .section__subtitle--about {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200 + 4em);
  }
  .about-me__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: img;
    position: relative;
    z-index: 2;
  }
}

@media screen and (min-width: 1024px) {
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  .service + .service {
    margin-left: 2em;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #303030;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: 900;
}

:focus {
  outline: 3px solid #16e0bd;
  outline-offset: 3px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: .5em 2.5em;
  background: #16e0bd;
  color: #303030;
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.25rem;
}

.section__title {
  margin-bottom: .25em;
}

.section__title--intro {
  font-weight: 300;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: 1.25rem;
}

.section__subtitle--intro,
.section__subtitle--about {
  background: #16e0bd;
  padding: .25em 1em;
  font-family: "Source Code Pro", monospace;
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: #16e0bd;
  font-weight: 900;
  margin-bottom: 2em;
}

/* header */
/* Intro section */
.intro {
  position: relative;
}

.intro__img {
  -webkit-box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
          box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

.section__subtitle--intro {
  display: inline-block;
}

.my-services {
  background-color: #303030;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(48, 48, 48, 0.9)), to(rgba(48, 48, 48, 0.3))), url(../img/services-bg.jpg);
  background-image: linear-gradient(to right, rgba(48, 48, 48, 0.9), rgba(48, 48, 48, 0.3)), url(../img/services-bg.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
}

.section__title--services {
  color: #16e0bd;
  position: relative;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background-color: #fff;
  opacity: 0.25;
}

.service {
  max-width: 500px;
  margin: 0 auto;
}

.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  -webkit-box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
          box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* My work */
.my-work {
  background-color: #303030;
  color: #fff;
  text-align: center;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__item {
  background: #16e0bd;
  overflow: hidden;
}

.portfolio__img {
  -webkit-transition: opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear, -webkit-transform 750ms cubic-bezier(0.5, 0, 0.5, 1);
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__img:hover,
.portfolio__img:focus .portfolio__img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: .5;
}

/* footer */
.footer {
  background: #111;
  color: #16e0bd;
  text-align: center;
  padding: 2.5em 0;
  font-weight: 900;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-size: 1.25rem;
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .5em;
}
/*# sourceMappingURL=main.css.map */