.header {
    display: flex;
    justify-content: space-betweens;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: $clr-dark;
    opacity: 0.98;
    color: $clr-light;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav__link {
    color: inherit;
    font-weight: $fw-bold;
    font-size: $fs-h2;
    text-decoration: none;
}

.nav__link:hover {
    color: $clr-accent;
}

.nav-toggle{
    padding: .5em;
    position: relative;
    border: 0;
    background: transparent;
    cursor: pointer;
    top: 1em;
    left: 90%;
    height: 2em;
    z-index: 1001;
}

.nav-open .nav{
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburguer {
    transform: rotate(.625turn);
}

.nav-open .hamburguer::before{
    transform: rotate(90deg) translate(-6px);
}

.nav-open .hamburguer::after{
    opacity: 0;
}

.hamburguer {
    display: block;
    position: relative;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after {
    background: $clr-accent;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    @include transition-ease;
}

.hamburguer::before,
.hamburguer::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburguer::before { top: 6px;}
.hamburguer::after { bottom: 6px;}
